<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Homepage</title>
  </head>
  <style>
   img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 254px;
      height: 180px;
    }
    ini {
    justify-content: center;
    text-align: center;
    }
    h1{
      text-align: center;
    }
  
    body  {
    background-image: url("https://st.depositphotos.com/1005676/2529/i/950/depositphotos_25293891-stock-photo-computer-robot-background.jpg");
    background-color: #FFEFD5;
  }
  </style>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HISTOGRAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</span></a>
            <a class="nav-item nav-link" href="/post">My Post</a>
            <a class="nav-item nav-link" href="/post/add">Add Your Post</a>
            <a class="nav-item nav-link" href="/logout">LOG OUT CUY</a>
          </div>
        </div>
      </nav>
    </div>
    <br><br><br>
    <h1>Create Your Post</h1>
    <br>
    <ini>

 
    <form action="/post/add" method="post">
      <label for="">title</label><br>
      <input type="text" name="title"><br>
      <label for="">content</label><br>
      <input type="text" name="content"><br>
      <label for="">image</label><br>
      <input type="text" name="imageURL"><br><br>
      <button type="submit" class="btn btn-primary">Add POST</button>
    </form>
  </ini>
    <% if(errors) {%>
      <% errors.split(',').forEach(el => { %>
        <p style="color: red;"> <%= el %> </p>
        <%}) %>
    <%}%>
    <% if(errors) {%>
        <p style="color: red;"><%= errors %></p>
    <%}%>

  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
